/* GLOBAL */

/* BACKGROUND */

body{
    position: fixed;
    background-image: url("../images/background_bonfire.jpg");
    background-repeat: no-repeat;    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.filtro{
    background-image: url("../images/grid.png");
    width: 100%;
    height: 100%;
    z-index: 2;
}

