/* GLOBAL */
/* FONTE */
@font-face {
    font-family: trajan-pro-3;
    src: url("../fonts/trajan-pro-3-2.otf") format("opentype");
}

@font-face {
    font-family: trajan-pro-3;
    font-weight: bolder;
    src: url("../fonts/trajan-pro-3-2.otf") format("opentype");
}

/* BACKGROUND */
body{
    display: flex;
    flex-direction: row;
    background-image: url("../images/background_bonfire.jpg");
    background-repeat: no-repeat;    
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 200;
    z-index: 1;
}

.filtro{
    position: fixed;
    background-image: url("../images/grid.png");
    height: 100%;
    width: 100%;
    z-index: 2;
}
.atual{
    background-color: #e49b6013;
    display: block;
}

a{
    text-decoration: none;
    color: #a9927f;
}

/* MENU DE NAVEGAÇÃO */
.titulo-dark-souls {
    color: antiquewhite;
    text-align: center;
    margin-bottom: -14px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000005e;
    z-index: 4;
    font-size: 28pt;
    border-bottom: moccasin 1px solid;
}
.container-titulo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000005e;
    align-items: center;
    color: antiquewhite;
    height: 0vh;
}
.general-menu {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-direction: unset;
    background-color: #1b191aed;
    width: 30vw;
    height: 98vh;
    margin-right: 1%;
    z-index: 3;
    border-top: ridge #1b191aed 2px;
    border-left: ridge #1b191aed 2px;
    border-bottom: ridge #1b191aed 2px;
    border-right: ridge #1b191aed 2px;
}
.general-menu.menu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 4;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: initial;
    width: 27vw;
}
.menu li{
    list-style: none;
    /* border-bottom: 1px #818181 solid; */
    text-align: center;
    padding-top: 20px;
}
.menu a{
    text-decoration: none;
    color: #959798;
    font-size: 14pt;
}

.disabled{
    text-decoration: none;
    color: #959798;
    font-size: 14pt;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CORPO DE INFORMAÇÕES */
.general-corpo{
    background-color: #1b191aed;
    z-index: 3;
}
.corpo-texto{    
    color: antiquewhite;
    text-align: justify;
    z-index: 4;
    margin: 53px;
    margin-top: 1px;
}
.frame{
    overflow: auto;
    border-radius: 0.7%;
    scroll-behavior: smooth;
    width: 73vw;
    z-index: 5;
    margin-top: -8.2px;
}

.mini_bonfire{
    width: 4vw;
    height: 4vh;
}

/* INICIO RODAPÉ DE LOGIN  */

.general-rodape{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 25px;
}

.general-rodape a{
    text-decoration: none;
    color: #959798;
}

.general-rodape li{
    list-style: none;
    font-size: 18pt;
}

/* ANIMAÇÃO DOS BOTOES */
@-webkit-keyframes fadeinout {0%,100% { opacity: 0; }100% { opacity: 1; }}
@keyframes fadeinout {0%,100% { opacity: 0; }100% { opacity: 1; }}
.animacao:hover{
    animation: fadeinout 1s linear forwards;
    -webkit-animation: fadeinout 1s linear forwards;
    color: #a9927f;
    border-radius: 20%;
}

.animacao_cad:hover{
    animation: fadeinout 1s linear forwards;
    -webkit-animation: fadeinout 1s linear forwards;
}

/* ESCONDENDO BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 0px; 
}

/* ESTILIZAÇÃO DA PAGINA galeria_frame.html */

.galeria_imagem{
    width: 100vw;
}

.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.general-corpo-galeria{
    background-color: #1b191aed;
    z-index: 3;
    color: whitesmoke;
}

.espaco{
    display: flex;
    flex-flow: wrap;
    place-content: space-between;
}